snippet beg
	\\begin{${1:env}}
		${2:${VISUAL} Body}
	\\end{${1:env}}
	$0
snippet equ
	\\begin{equation}
		${2:${VISUAL} Equation}
	\\end{equation}
	$0
snippet lint
	\\int_{$1}^{$2}$0
snippet v
	\\vec{$1}$0
snippet //
	\\dfrac{$1}{$2}$0
snippet w
	\\omega
snippet W
	\\Omega
snippet g
	\\gamma
